{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}" class="page-content home">
	{{template "explore/navbar" .}}
	<div class="ui container">
	</div>
</div>
{{template "base/footer" .}}
